<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyFriendsReporter.Properties.Settings.VsHMSConnectionString"
            connectionString="Data Source=myfriends.no-ip.org,1141;Initial Catalog=VsHMS;Persist Security Info=True;User ID=sa;Password=3Im4Fe1x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>